# Arquivos que não quero subir
teste.py
manual_eDNAnalyzer_pt_br.docx
manual_eDNAnalyzer_eng.docx
analise_metabarcoding/
exemplos_arq_entrada.xlsx
analise_metabarcoding.exe
analise_metabarcoding_0-1.exe
analise_metabarcoding_0-2.exe
eDNAnalyzer.exe
eDNAnalyzer_1-1.exe