body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 1.25rem;
  color: #333;
  background-color: #f8f9fa;
}

main {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
}

h1,
h2,
h3 {
  color: #2c3e50;
}
h1 {
  text-align: center;
  border-bottom: 0.125rem solid #3498db;
  padding-bottom: 0.625rem;
}

#ednanalyzer-logo {
  height: 5rem;
  vertical-align: middle;
  margin-right: 0.625rem;
}

h2 {
  border-left: 0.25rem solid #3498db;
  padding-left: 0.625rem;
  margin-top: 1.875rem;
}

.tables,
.screenshots {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.625rem auto;
}

.code {
  font-family: monospace;
  background-color: #eee;
  padding: 0.125rem 0.3125rem;
  border-radius: 0.1875rem;
}

.note {
  background-color: #e7f3fe;
  border-left: 0.25rem solid #2196f3;
  padding: 0.625rem;
  margin: 0.9375rem 0;
}

.step {
  background-color: #f5f5f5;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  margin: 0.9375rem 0;
  border-left: 0.25rem solid #4caf50;
}
